---
import { getAllBlogs } from "../../lib/blogs";
import Layout from "../layouts/Layout.astro";
import  MarkdownRenderer from "../../components/MarkdownRenderer.svelte";
const blogs = await getAllBlogs();
if (!blogs) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout>
  <h1>blogs</h1>
  <ul>
    {
      blogs.map((blog) => (
        <li>
      {/* <p>{blog.content}</p> */}

      <MarkdownRenderer content={blog} />
        </li>
      ))
    }
  </ul>


</Layout>

<style>
  h1{
    text-align: center;
  }

  ul{
    
    list-style-type: none;
  }

  li{
    align-items: center;
display: flex;
flex-direction: column;
  }
</style>